.custom-card {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  cursor: pointer;
}

.custom-card:hover {
  transform: scale(1.05);
}

.bg-dark {
  background-color: #000000 !important;
  color: white;
}

.top-card-body {
  height: 150px;
  display: grid;
  grid-template-columns: 0.2fr 0.4fr;
  align-items: start;
}

.top-card-body img {
  width: 40px;
  height: 40px;
}

.top-card-body h5 {
  font-size: 1.1rem;
  font-weight: bold;
}
