<div class="container">
    <div class="mt-1">
      <div class="row">
        <div class="col-md-4 mb-3">
          <div 
            class="card custom-card w-100 h-fixed d-flex" 
            [ngClass]="{'bg-dark': selectedCard === 'ventas'}"
            (click)="selectCard('ventas')">
            <div class="card-body">
              <img src="../../../assets/holi.svg" />
              <h5>Resumen de Ventas</h5>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div 
            class="card custom-card w-100 h-fixed d-flex" 
            [ngClass]="{'bg-dark': selectedCard === 'agenda'}"
            (click)="selectCard('agenda')">
            <div class="card-body">
              <i class="fas fa-calendar-alt fa-2x mb-2"></i>
              <h5>Agenda</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div 
            class="card custom-card w-100 h-fixed d-flex" 
            [ngClass]="{'bg-dark': selectedCard === 'inventario'}"
            (click)="selectCard('inventario')">
            <div class="card-body">
              <i class="fas fa-box-open fa-2x mb-2"></i>
              <h5>Inventario de Productos</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mb-3">
          <div 
            class="card custom-card w-100 d-flex" 
            [ngClass]="{'bg-dark': selectedCard === 'nueva'}"
            (click)="selectCard('nueva')">
            <div class="card-body">
              <h5>Resumen rápido</h5>
            
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-table">
                  <!-- Salon Column -->
                  <ng-container matColumnDef="salon">
                    <th mat-header-cell *matHeaderCellDef> Salon </th>
                    <td mat-cell *matCellDef="let element"> {{element.salon}} </td>
                  </ng-container>
              
                  <!-- Fecha Column -->
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                  </ng-container>
              
                  <!-- Estado Column -->
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                  </ng-container>
              
                  <!-- Acciones Column -->
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Ir a revisar </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button>Ir a revisar</button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  