.custom-card {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
  }

.table-card {
    padding: 15px;
    background-color: #ffffff;
}
  
.table-card h5 {
    font-size: 1.5rem;
    /* color: #333; */
}

table {
    width: 100%;
}
  
mat-header-cell, mat-cell {
    background-color: #ffffff; /* Fondo blanco para las celdas */
    color: #333; /* Color de texto oscuro */
    text-align: center;
}

mat-header-row {
    background-color: #f1f1f1; /* Fondo claro para la fila del encabezado */
}


button {
    background-color: #1976d2;
    color: white;
}