<div class="container">
    <div class="row">
        <div class="row w-100">
          <div class="col-md-4 mb-3" *ngFor="let card of topCards">
            <app-card class="custom-card"
              [title]="card.title" 
              [image]="card.image" 
              [isSelected]="selectedCard === card.key" 
              [route]="card.route"
              (selectCard)="selectCard(card.key)">
            </app-card>
          </div>
        </div>

    <!-- Row para la card de la tabla -->
    <div class="row w-100">
      <div class="col-12 mb-3">
        <div class="card custom-card table-card w-100 d-flex">
          <div class="card-body">
            <h5>Resumen rápido</h5>
            <div class="mat-elevation-z8">
              <ng-container *ngFor="let column of columns">
                <ng-container [matColumnDef]="column.key">
                  <th mat-header-cell *matHeaderCellDef> {{ column.label }} </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{ element[column.key] }} 
                  </td>
                </ng-container>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>              
            </div>
          </div>
      </div>
    </div>
</div>
