<nav class="navbar fixed-top">
    <!-- Contenedor para título y subtítulo -->
    <div class="navbar-title">
        <h1 class="navbar-main-title">{{ titulo }}</h1>
        <h2 class="navbar-subtitle">{{ subtitulo }}</h2>
    </div>
    
    <!-- Sección derecha con logo de usuario y nombre -->
    <div class="user-info">
        <img src="../../../assets/circulo-de-usuario.svg" alt="User Logo" class="user-logo">
        <span class="user-name">Admin</span>
    </div>
</nav>



<div class="container-fluid">
    <div class="row"> 
        <nav class="sidebar" [class.show-sidebar]="mostrarMenu">
            <a class="link-container" href="#" [routerLink]="['/dashboard']">
                <div class="title-container">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" class="logo-title">
                        <path d="M21,2h-3V0h-2V2H8V0h-2V2H3C1.346,2,0,3.346,0,5V24H24V5c0-1.654-1.346-3-3-3Zm1,20H2V10H22v12Zm0-14H2v-3c0-.551,.448-1,1-1H21c.552,0,1,.449,1,1v3Zm-12.914,11.414l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701,1.404,1.425-5.793,5.707c-.387,.387-.896,.58-1.407,.58s-1.025-.195-1.416-.585Z" fill="white" />
                    </svg>
                    <span class="text-title">Reservas de salones</span>
                </div>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512" class="sidebar-logo">
                            <path d="M2,11H13a2,2,0,0,0,2-2V2a2,2,0,0,0-2-2H2A2,2,0,0,0,0,2V9A2,2,0,0,0,2,11ZM2,2H13V9H2Z" fill="white"/>
                            <path d="M22,0H19a2,2,0,0,0-2,2V9a2,2,0,0,0,2,2h3a2,2,0,0,0,2-2V2A2,2,0,0,0,22,0Zm0,9H19V2h3Z" fill="white"/>
                            <path d="M5,13H2a2,2,0,0,0-2,2v7a2,2,0,0,0,2,2H5a2,2,0,0,0,2-2V15A2,2,0,0,0,5,13Zm0,9H2V15H5Z" fill="white"/>
                            <path d="M22,13H11a2,2,0,0,0-2,2v7a2,2,0,0,0,2,2H22a2,2,0,0,0,2-2V15A2,2,0,0,0,22,13Zm0,9H11V15H22Z" fill="white"/>
                        </svg>
                        <span class="sidebar-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/agenda']" routerLinkActive="active">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" class="sidebar-logo">
                            <path d="M13.929,15H5v-2H15.93l-2,2Zm-8.929,4h5v-.071l1.929-1.929H5v2ZM24,5v5H2v12H10v2H0V5c0-1.654,1.346-3,3-3h3V0h2V2h8V0h2V2h3c1.654,0,3,1.346,3,3Zm-2,0c0-.551-.449-1-1-1H3c-.551,0-1,.449-1,1v3H22v-3Zm1.122,7.879c.566,.566,.878,1.32,.878,2.121s-.312,1.555-.879,2.122l-6.878,6.878h-4.243v-4.243l6.879-6.878c1.133-1.134,3.109-1.134,4.243,0Zm-1.122,2.121c0-.267-.104-.518-.293-.707-.378-.379-1.037-.378-1.414,0l-6.293,6.292v1.415h1.415l6.292-6.293c.189-.189,.293-.44,.293-.707Z" fill="white"/>
                        </svg>
                        <span class="sidebar-text">Agenda Salones</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/mascotas']" routerLinkActive="active">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"class="sidebar-logo">
                            <path d="M20.137,24a2.8,2.8,0,0,1-1.987-.835L12,17.051,5.85,23.169a2.8,2.8,0,0,1-3.095.609A2.8,2.8,0,0,1,1,21.154V5A5,5,0,0,1,6,0H18a5,5,0,0,1,5,5V21.154a2.8,2.8,0,0,1-1.751,2.624A2.867,2.867,0,0,1,20.137,24ZM6,2A3,3,0,0,0,3,5V21.154a.843.843,0,0,0,1.437.6h0L11.3,14.933a1,1,0,0,1,1.41,0l6.855,6.819a.843.843,0,0,0,1.437-.6V5a3,3,0,0,0-3-3Z" fill="white"/>
                        </svg>
                        <span class="sidebar-text">Admin Salones</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" class="sidebar-logo">
                            <path d="M6.349,11H3a1,1,0,0,0-1,1v3H0V12A3,3,0,0,1,3,9H7.537A5.977,5.977,0,0,0,6.349,11ZM21,9H16.463a5.977,5.977,0,0,1,1.188,2H21a1,1,0,0,1,1,1v3h2V12A3,3,0,0,0,21,9Zm-5,4a4,4,0,1,0-4,4A4,4,0,0,0,16,13Zm-2,0a2,2,0,1,1-2-2A2,2,0,0,1,14,13Zm4,8a3,3,0,0,0-3-3H9a3,3,0,0,0-3,3v3H8V21a1,1,0,0,1,1-1h6a1,1,0,0,1,1,1v3h2ZM22,4a4,4,0,1,0-4,4A4,4,0,0,0,22,4ZM20,4a2,2,0,1,1-2-2A2,2,0,0,1,20,4ZM10,4A4,4,0,1,0,6,8,4,4,0,0,0,10,4ZM8,4A2,2,0,1,1,6,2,2,2,0,0,1,8,4Z" fill="white"/>
                        </svg>
                        <span class="sidebar-text">Usuarios</span>
                    </a>
                </li>
            </ul>

            <div class="logout-container mt-auto">
                <a class="nav-link logout-link" (click)="cerrarSesion()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="sidebar-logo">
                        <g id="_01_align_center" data-name="01 align center">
                            <path d="M2,21V3A1,1,0,0,1,3,2H8V0H3A3,3,0,0,0,0,3V21a3,3,0,0,0,3,3H8V22H3A1,1,0,0,1,2,21Z" fill="white"/>
                            <path d="M23.123,9.879,18.537,5.293,17.123,6.707l4.264,4.264L5,11l0,2,16.443-.029-4.322,4.322,1.414,1.414,4.586-4.586A3,3,0,0,0,23.123,9.879Z" fill="white"/>
                        </g>
                    </svg>
                    <span class="sidebar-text">Cerrar Sesión</span>
                </a>
            </div>
        </nav>
        
        <main role="main" class="main-content">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
