<div class="login-container">
    <div class="login-box">
      <main class="form-signin">
        <form #form="ngForm">
          <img class="mb-2" src="" alt="" width="150" height="auto">
          <div class="title-container">
            <img class="title-icon" src="../../../assets/consultar-calendario.svg"/>
            <h1 class="h3 title-text">Iniciar sesión</h1>
          </div>

          <div class="form-floating">
            <label class="textbox-title" for="floatingInput">Número de documento</label>
            <div class="input-icon-container">
              <img src="../../../assets/id-insignia.svg" alt="icono-documento" class="input-icon">
              <input type="text" class="form-control" id="floatingInput" placeholder="Número de documento" [(ngModel)]="idUsuario" name="idUsuario">
            </div>
          </div>
          
          <div class="form-floating my-3">
            <label class="textbox-title" for="floatingPassword">Contraseña</label>
            <div class="input-icon-container">
              <img src="../../../assets/cerrar.svg" alt="icono-password" class="input-icon">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" [(ngModel)]="clave" name="clave">
            </div>
          </div>
          <div class="mb-3">
            <a href="#" class="forgot-password-link" (click)="forgotPassword()">¿Olvido su contraseña?</a>
          </div>
          <input class="w-100 btn btn-lg" type="button" value="Iniciar Sesión" (click)="consulta('', form)"/>
        </form>
      </main>
    </div>
  </div>
  