.login-container {
  /* background-image: url('../../../assets/img/background-login.jpg'); */
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden; /* Deshabilita el desplazamiento vertical */
}

.login-box {
  background-color: white;
  border-radius: 10px;
  border: solid 1px #cfcfcf;
  padding: 20px;
  max-width: 400px;
  margin-top: -100px;
}

.title-container {
  display: flex;
  align-items: center;
  margin-left: 45px;
  margin-bottom: 15px;
}

.title-icon {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.title-text {
  margin-top: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin img.mb-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.input-icon-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px; /* Ajusta según tu diseño */
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


.form-control {
  padding-left: 40px; /* Ajusta el padding para que el texto no se superponga con el ícono */
}

/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

/* .form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

.forgot-password-link {
  color: #575957;  /* Gris */
  font-size: 0.895rem;  /* Un tamaño de fuente más pequeño */
  text-decoration: none;  /* Eliminar subrayado si lo deseas */
}

.forgot-password-link:hover {
  text-decoration: underline;  /* Opcional: agregar subrayado al pasar el mouse */
}

.btn-lg {
  background-color: #444444;
  color: white;
}
